/*this css page controls the html page*/
body {
  width: 1000px; /*set the width of the page*/
  margin: 0 auto; /*set into center*/
  border: 2px solid;
}
/*main page header controls header box across all pages*/
header {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  color: rgb(122, 197, 8);
}
/*main navigation across all pages*/
#main_nav {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid;
  background-color: rgb(231, 231, 231);
}

/*main navigation's table*/
#main_nav table {
  border: 1px solid;
  margin: 0 auto;
  width: 800px;
}

/*main navigation's table data*/
#main_nav td {
  border: 1px solid;
  width: 900px;
  height: 10px;
  background: rgba(114, 114, 114, 0.514);
  text-align: center;
  color: rgb(153, 116, 116);
  padding: 3px;
}

main {
  width: 975px;
  display: inline-block;
  border: 1px solid;
  background: rgb(255, 255, 255);
  margin: 10px;
}
.prod_space {
  width: 950px;
  float: left;
  margin: 10px;
  border: 1px solid rgb(122, 197, 8);
}

.prod_space table {
  border: 1px solid rgb(16, 16, 221);
  margin: 10px;
  float: left;
  width: 296px;
  height: 280px;
}

.prod_space td {
  border: 1px solid;
  margin: 5px;
  text-align: center;
  color: rgba(122, 197, 8);
}

.products1 table {
  border: 1px solid rgb(16, 16, 221);
  margin: 5px;
  float: left;
  width: 296px;
  height: 570px;
}

.products table {
  border: 1px solid rgb(16, 16, 221);
  margin: 5px;
  float: left;
  width: 296px;
  height: 280px;
}

a {
  color: rgb(0, 0, 0);
}

footer {
  width: 975px;
  height: 100px;
  margin: 0 auto;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  display: inline-block;
  background: rgb(230, 230, 228);
}
